extends layout

block content
    h1 #{instance.book.title} : #{instance._id}
    p #[strong Status:] #{instance.status}

    p Do you really want to delete this Book Instance?

    form(method='post' action='')
        div.form-group
            input#instanceid.form-control(type='hidden', name='instanceid',
            required='true', value=instance._id)
        button.btn.btn-primary(type='submit') Delete